@tailwind base;
@tailwind components;
@tailwind utilities;

.hMinScreen {
    min-height: calc(100dvh - 123px - 64px)
}

.hScreen {
    height: calc(100dvh - 123px - 64px)
}

.navlink.active {
    color: #facc15;
}