@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.hMinScreen {
    min-height: calc(100dvh - 123px - 64px)
}

.hScreen {
    height: calc(100dvh - 123px - 64px)
}

.navlink.active {
    color: #facc15;
}

.LazyLoad {
    opacity: 0.8;
    transition: all 500ms ease-in-out;
}

.is-visible {
    opacity: 1;
}